.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.d-none {
  display: none;
}

input {
  border: 2px solid #cccccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
  border: 2px solid #13b0b9;
}

input[type="submit"] {
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.weather-info {
  height: 25rem;
}

.weather-info-extras {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 25px;
}

.info-medium {
  font-size: 2rem;
}

.info-small {
  font-size: 1rem;
  color: #888888;
}

@media only screen and (max-width: 700px) {
  body {
    width: max-content;
    height: max-content;
  }

  .temp-current-container {
    margin-top: 15px;
  }

  .weather-info {
    width: auto;
    height: auto;
  }

  .temp-current {
    font-size: 2rem;
  }

  .info-medium {
    font-size: 1.5rem;
  }

  .info-small {
    font-size: 0.5rem;
  }

  .attribution {
    font-size: 5px;
    margin-top: 20px;
  }

  .attribution a {
    font-size: 5px;
  }
}
